.mt-28 {
    margin-top: 5rem /* 112px */ !important;
}
.p-10 {
    padding: 2.5rem /* 40px */ !important;
}
.divide-x > :not([hidden]) ~ :not([hidden]) {
    --tw-divide-x-reverse: 0 !important;
    border-right-width: calc(1px * var(--tw-divide-x-reverse)) !important;
    border-left-width: calc(1px * calc(1 - var(--tw-divide-x-reverse))) !important;
}
.py-18 {
    padding-top: 4.5rem /* 72px */ !important;
    padding-bottom: 4.5rem /* 72px */ !important;
}
.max-h-36 {
    max-height: 9rem /* 144px */ !important;
}
.px-5 {
    padding-left: 1.25rem /* 20px */ !important;
    padding-right: 1.25rem /* 20px */ !important;
}
.w-max {
    width: max-content !important;
}
.uppercase {
    text-transform: uppercase !important;
}
.py-10 {
    padding-top: 2.5rem /* 40px */ !important;
    padding-bottom: 2.5rem /* 40px */ !important;
}

.max-w {
    max-width: 94vw /* 4px */ !important;
}
.w{
    width: 1200px;
}

@media (min-width: 960px) {
    .md\:grid-cols-2 {
        grid-template-columns: repeat(2, minmax(0, 1fr)) !important;
    }
}

@media (min-width: 960px) {
    .md\:grid-cols-3 {
        grid-template-columns: repeat(3, minmax(0, 1fr)) !important;
    }
}
@media (min-width: 960px) {
    .md\:flex {
        display: flex !important;
    }
}

@media (min-width: 960px) {
    .md\:px-0 {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
}


@media (min-width: 960px) {
    .md\:p-10 {
        padding: 2.5rem /* 40px */ !important;
    }
}
