<div class="flex items-center justify-center w-full h-full py-18">



    <div class="border border-gray-300 rounded-md divide-x px-2 md:px-0 py-10 md:p-10 grid md:grid-cols-3 grid-cols-1 bg-white">
        <div class="w-full flex flex-col col-span-2">
            <div class="w-full px-5 mx-auto sm:mx-0">
                <!-- Logo -->
                <div class="w-12">
                    <img src="assets/images/logoSena.png" alt="">

                </div>

                <!-- Title -->
                <div class="mt-8 text-4xl font-extrabold tracking-tight leading-tight">Crear usuario</div>
                <div class="flex items-baseline mt-0.5 font-medium">
                    <div>Ya tienes un usuario?</div>
                    <a
                        class="ml-1 text-primary-500 hover:underline"
                        [routerLink]="['/sign-in']">Iniciar sesión
                    </a>
                </div>


                <div class="w-full flex flex-col">

                    <fuse-alert
                        class="mt-8"
                        *ngIf="showAlert"
                        [appearance]="'outline'"
                        [showIcon]="false"
                        [type]="alert.type"
                        [@shake]="alert.type === 'error'">
                        {{alert.message}}
                    </fuse-alert>

                    <!-- Sign Up form -->

                    <form
                        class="mt-8 grid grid-cols-1 md:grid-cols-2 gap-2 "
                        [formGroup]="signUpForm"
                        #signUpNgForm="ngForm">

                        <mat-form-field class="w-full">
                            <mat-label>Nombres</mat-label>
                            <input class="uppercase"
                                matInput
                                [formControlName]="'nombre'">
                                <mat-error>{{errorService.msgError(signUpForm, 'nombre')}}</mat-error>
                        </mat-form-field>

                        <mat-form-field class="w-full">
                            <mat-label>Apellidos</mat-label>
                            <input
                                 class="uppercase"
                                id="company-confirm"
                                matInput
                                [formControlName]="'apellido'">
                                <mat-error>{{errorService.msgError(signUpForm, 'apellido')}}</mat-error>
                        </mat-form-field>
                        <!-- Name field -->
                        <mat-form-field class="w-full fue-mat-dense">
                            <mat-label>Nro de documento</mat-label>
                            <input
                                mask="separator.0"
                                thousandSeparator="."
                                id="name"
                                matInput
                                [formControlName]="'cedula'">

                                <mat-error>{{errorService.msgError(signUpForm, 'cedula')}}</mat-error>

                        </mat-form-field>

                        <!-- Email field -->



                        <!-- Company field -->
                        <mat-form-field class="w-full">
                            <mat-label>Cargo</mat-label>

                            <mat-select [formControlName]="'cargo'" >
                                <mat-option *ngFor="let item of cargos"  [value]="item">{{item}}</mat-option>
                            </mat-select>
                            <!-- <input
                                id="company-confirm"
                                matInput
                                class="uppercase"
                                [formControlName]="'cargo'"> -->
                                <mat-error>{{errorService.msgError(signUpForm, 'cargo')}}</mat-error>

                        </mat-form-field>

                        <mat-form-field class="w-full">
                            <mat-label>Centro de costo</mat-label>
                            <!-- <input
                                id="company-confirm"
                                matInput
                                class="uppercase"
                                [formControlName]="'centroCosto'"> -->

                                <mat-select [formControlName]="'centroCosto'" >
                                    <mat-option *ngFor="let item of centros"  [value]="item">{{item}}</mat-option>
                                </mat-select>

                                <mat-error>{{errorService.msgError(signUpForm, 'centroCosto')}}</mat-error>

                        </mat-form-field>

                          <!-- Password field -->
                          <mat-form-field class="w-full">
                            <mat-label>Contraseña</mat-label>
                            <input
                                id="password"
                                matInput
                                type="password"
                                [formControlName]="'contrasena'"
                                #passwordField>
                            <button
                                mat-icon-button
                                type="button"
                                (click)="passwordField.type === 'password' ? passwordField.type = 'text' : passwordField.type = 'password'"
                                matSuffix>
                                <mat-icon
                                    class="icon-size-5"
                                    *ngIf="passwordField.type === 'password'"
                                    [svgIcon]="'heroicons_solid:eye'"></mat-icon>
                                <mat-icon
                                    class="icon-size-5"
                                    *ngIf="passwordField.type === 'text'"
                                    [svgIcon]="'heroicons_solid:eye-slash'"></mat-icon>
                            </button>
                            <mat-error>{{errorService.msgError(signUpForm, 'contrasena')}}</mat-error>

                        </mat-form-field>



                        <!-- ToS and PP -->
                        <div class="flex flex-col  w-full mt-1.5">
                            <mat-checkbox
                                class="-ml-2"
                                [color]="'primary'"
                                [formControlName]="'terminosCondiciones'">
                                <span>Acepto</span>
                                <a
                                    class="ml-1 text-primary-500 hover:underline"
                                    >Terminos y condiciones
                                </a>


                            </mat-checkbox>
                            <mat-error class="font-bold">{{errorService.msgError(signUpForm, 'terminosCondiciones')}}</mat-error>

                        </div>

                        <!-- Submit button -->
                         <div class="w-full flex justify-end">
                             <button
                                 class="fuse-mat-button-large w-max mt-6"
                                 mat-flat-button
                                 [color]="'primary'"
                                 [disabled]="signUpForm.disabled"
                                 (click)="signUp()">
                                 <span *ngIf="!signUpForm.disabled">
                                     Crear usuario
                                 </span>
                                 <mat-progress-spinner
                                     *ngIf="signUpForm.disabled"
                                     [diameter]="24"
                                     [mode]="'indeterminate'"></mat-progress-spinner>
                             </button>
                         </div>

                    </form>
                </div>
            </div>
        </div>
        <div class="hidden md:flex w-full items-center justify-center">

            <div class="w-90">
                <img src="assets/images/servrest.png" alt="">
            </div>




        </div>

    </div>
</div>

