

<div class="w-full h-full">

    <div class="flex items-center sm:pl-16 gap-4 pl-4 pt-6 pb-4 relative rounded-b-3xl bg-white">

        <div class=" items-center  flex overflow-hidden">
            <mat-icon class="icon-size-12 text-gray-700" svgIcon="heroicons_outline:camera"></mat-icon>

          </div>
          <div class="flex-1 mx-3">
              <div class="text-3xl font-semibold tracking-tight leading-8 ">
                  Scan QR
              </div>
              <div class="flex items-center">
                  <div class="font-medium tracking-tight text-secondary">
                      Módulo para escanear codigo QR
                  </div>
              </div>
          </div>


      </div>

      <div class="w-full paddingPrincipal">

        <div style=" margin-top: 40px; width: 600px; margin-left: auto; margin-right: auto; max-width: 90vw;" class="bg-white  rounded-lg overflow-hidden border border-gray-300">

            <div style="min-height: 40px; background-color: #00AF00; padding-left: 10px;" class="w-full flex items-center">

                <div class="rounded-full bg-white icon-size-3">

                </div>

                <span class="text-white font-semibold ml-2">Escanear código</span>

            </div>

            <div class=""  id="reader" style="width: 300px; margin-top: 15px; margin-left: auto; margin-right: auto;"></div>



            <mat-form-field class="fuse-mat-dense mbcamar mtcamara w-full pxcamrana">
                <mat-label>Cambiar cámara</mat-label>
                <mat-select [(ngModel)]="ngModelCam" (selectionChange)="switchCamera(ngModelCam)">
                    <mat-option *ngFor="let camera of cameras" [value]="camera?.id">
                      {{ camera?.label || 'Cámara' }}
                    </mat-option>
                  </mat-select>
            </mat-form-field>



            <!-- <input [(ngModel)]="imageInput" type="file" accept="image/*" (change)="cargarImagn($event)"> -->

        </div>

    </div>








</div>

