

<div class="w-full h-full">

    <div class="flex items-center sm:pl-16 gap-4 pl-4 pt-6 pb-4 relative rounded-b-3xl bg-white">

        <div class=" items-center  flex overflow-hidden">
            <mat-icon class="icon-size-12 text-gray-700" svgIcon="heroicons_outline:arrows-right-left"></mat-icon>

          </div>
          <div class="flex-1 mx-3">
              <div class="text-3xl font-semibold tracking-tight leading-8 ">
                  Código QR
              </div>
              <div class="flex items-center">
                  <div class="font-medium tracking-tight text-secondary">
                      Módulo de código QR

                  </div>
              </div>
          </div>


      </div>

      <div class="w-full paddingPrincipal">



        <div style="width: 600px; max-width: 90vw;" class="mx-auto mt-5 bg-white  rounded-lg overflow-hidden border border-gray-300">

           <div style="min-height: 40px; background-color: #00AF00;" class="w-full">

           </div>

           <div class="w-full px-3 py-2">

            <div class="">
                <span class="font-semibold">
                    Usuario :
                </span>
                <span class="text-gray-700">
                    {{this.user.nombre}} {{this.user.apellido}}
                </span>
            </div>

            <div class="">
                <span class="font-semibold">
                    Centro de formación :
                </span>
                <span class="text-gray-700">
                    {{this.user.centroCosto}}
                </span>
            </div>

            <div class="">
                <span class="font-semibold">
                    Cargo :
                </span>
                <span class="text-gray-700">
                    {{this.user.cargo}}
                </span>
            </div>



            <hr class="my-0 mt-2">



           </div>

           <div #qrcode class="w-full">
               <qrcode  [qrdata]="qrData" [width]="256" cssClass="qrleo"></qrcode>

           </div>


           <div class="w-full flex items-center" style="display: flex; align-items: center; justify-content: center;">



            <button (click)="descargar()" mat-raised-button color="primary" type="button" style="margin: 10px;">
                Descargar Qr
            </button>

           </div>








           <div class=" w-full border-b border-gray-300">




           </div>





        </div>
    </div>


</div>

